<div class="row">

  <% if @cocktails.count == 0%>

  <div class="col-6">

      <h1>There are no cocktails currently added</h1>
      <%= link_to "Be the first to add", new_cocktail_path,class: "btn" %>

  </div>


  <% else %>

    <h1>All of the cocktails</h1>

    <% @cocktails.each do |cocktail| %>

      <div class="col-3 cards"> .

          <h1> <%= link_to cocktail_path(cocktail) do %>
          <%=  cl_image_tag  cocktail.photo, height: 200, width: 200, crop: :fill, class: "images"  %> </h1>
          <% end %>
          <%= link_to 'Edit', edit_cocktail_path(cocktail), class: 'btn'  %>
          <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: { confirm: 'OK?' }, class: 'btn'%>
        </div>

        <% end %>

      <% end %>

    </div>








